* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

/* stile classi generali */

.bold {
    font-weight: 600;
}

.img-line {
    position: relative;
    top: -6px;
}
/* classi generali */


/* stile INPUT generale */
input {
    border: none;
}

input:focus {
    outline: none;
}
/* fine INPUT generale */


/* STILE HEADER */
header {
    background-color: black;
    height: 80px;
    margin-bottom: 50px;
}

.container {
    height: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container p {
    color: red;
    font-size: 32px;
}

.input-box {
    background-color: white;
    border-radius: 25px;
}

.input-box input {
    width: 200px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 25px;
}

.input-box .fa-search {
    padding: 10px;
    padding-right: 25px;
}

.fa-search:hover {
    cursor: pointer;
}
/* FINE STILE HEADER */


.ricerca-utente-film, .ricerca-utente-serieTV {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* STILE TEMPLATE HANDLEBARS */
.info-film-serietv {
    margin: 5px;
    margin-bottom: 15px;
    position: relative;
    width: 342px;
    height: 513px;
}

.info-film-serietv:hover .contenuto {
    display: block;
}

.copertina {
    border: 1px solid white;
    width: 342px;
    height: 513px;
}

.contenuto {
    display: none;
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: black;
    color: white;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    z-index: 1;
    padding: 15px;
    overflow: auto;
}

.contenuto p {
    padding-bottom: 15px;
}

.fas.fa-star {
    color: yellow;
    padding: 3px;
}

.far.fa-star {
    color: white;
    padding: 3px;
}

.lingua-originale {
    width: 25px;
}
/* FINE STILE TEMPLATE HANDLEBARS */






/* .bottom-page {
    position: absolute;
    bottom: 0;
    right: 0;
} */
